html
{
    position: relative;
    min-height: 100%;
}

body
{
    font-family: Roboto;
    /*font-size: 15pt;*/
    background-color: #ffffff;
    padding: 0 0 30px 0;

    /*
    color: rgba(20, 20, 20, 0.98);
    text-shadow: 1px 0 0 rgba(24, 24, 24, 0.9);
    */
}

h1
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 112px;
    margin-left: 6px;
    margin-right: 6px;

    color: rgba(20, 20, 20, 0.98);
    text-shadow: 2px 0 0 rgba(24, 24, 24, 0.9);
}

p
{
    text-align: justify;
    margin-left: 4px;
    margin-right: 4px;
}

.footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px, 0;
    background: #e5e1d9;
    color: #181818;
    text-align: center;
    width: 100%;
}

.menu-main
{
    list-style: none;
    padding: 18px 0 2px;
    margin: 0px;
    margin-bottom: 15px;
    text-align: center;
    background: #e5e1d9;
}

.menu-main li {display: inline-block;}
  
.menu-main li:last-child:after {content: none;}
  
.menu-main a {
    text-decoration: none;
    font-family: Roboto;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .1s;
}

.menu-main a, .menu-main a:visited
{
    color: #141414;
}

.menu-main a.current, .menu-main a:hover
{
    color: #484848;
}


.menu-main a:before,
.menu-main a:after
{
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -4px;
    left: 50%;
    background: #d0b98b;
    transition: .6s;
}

.menu-main a:hover:before, .menu-main .current:before {left: 0;}

.menu-main a:hover:after, .menu-main .current:after {right: 0;}   

@media (max-width: 550px) {
  .menu-main {padding-top: 0;}
  .menu-main li {display: block;}
  .menu-main li:after {content: none;}
  .menu-main a
  {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
}
